/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
}
a{text-decoration: none;color:#52b800;}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   One Page Scroll with Animations styles
   ========================================================================== */
/* Code Samples */
pre {
 white-space: pre-wrap;
 white-space: -moz-pre-wrap;
 white-space: -o-pre-wrap;
 background: #faf8f0;
 font-size: 14px;
}
code {
 display: block;
 padding: 0.5em 1em;
 border: 1px solid #bebab0;
}
body, html {
	height: 100%;
	min-height: 100%;
}
.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}
#demo-content {
	
}
section {
	min-width: 320px;
	opacity: 0;
	-webkit-transition:opacity .6s;
	-webkit-transition-delay:.2s;
	-moz-transition:opacity .6s;
	-moz-transition-delay:.2s;
	-o-transition:opacity .6s;
	-o-transition-delay:.2s;
	transition: opacity .6s;
	transition-delay:.2s;
}
.loaded section {
	opacity: 1;
}
section h2 {
	font-size: 2em;
	font-weight: 300;
	margin: 0;
	padding: 0;
	line-height: 1em;
}
section p {
	font-weight: 300;
	margin-bottom: 30px;
	font-size: 1.1875em;
	line-height: 1.6316;
	color: #808080;
}
.section-content,
.fake-content {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-bottom: 1px #707070 solid;
}
.copy-container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -192px;
	margin-left: 40px;
	width: 395px;
	z-index: 1;
}
.images-container {
	display: block;
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	width: 670px;
	height: 600px;
    opacity: 0;
}
.images-container{
    opacity: 1;
    -webkit-transition: opacity 1s;  
    -moz-transition: opacity 1s;
    transition: opacity 1s;
}
/* Header */
@font-face {
    font-family:'BasicThin';
    src: url('LinotypeUnivers-BasicThin.eot'); src: url('LinotypeUnivers-BasicThind41d.eot?#iefix') format('embedded-opentype'), url('LinotypeUnivers-BasicThin.woff') format('woff'), url('LinotypeUnivers-BasicThin.ttf') format('truetype'), url('LinotypeUnivers-BasicThin.html#svgFontName') format('svg');
    /* Copyright (c) 2000-2008, Changzhou SinoType Technology Co., Ltd.  All rights reserved. */
}
html{font: 'BasicThin', '微软雅黑', 'Open Sans', sans-serif, Arail; color:#fff;}


.back-link a {
    color: #000;
}
.back-link a:hover,
.back-link a:focus {
    text-decoration: none;
}
.back-link a.selected{
    color:#52b800;
}
.black a{
    color:#000;
}
.black a:hover,
.black a:focus {
    text-decoration: none;
}
h1 {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    margin: 0;
    font-size: 14px;
    font-family: 'BasicThin', 'Open Sans', sans-serif;
    color: #1c1d1e;
    font-size: 32px;
    margin-bottom: 3px;
}
h2 {
    color: #fff;
    font-family: 'BasicThin', 'Open Sans', sans-serif;
    font-weight: normal;
    padding-left: 80px;
}
.logo_container{
    overflow:hidden;
    float:left;
    padding: 0 0 0 60px;
    cursor:pointer;
    height:36px;
    padding-top:14px;
}
.logo_container span{font-size:24px;padding-left:14px;line-height:36px;float:left;}
.logo{width:36px;height:36px;background:url(../img/img_logo.png) no-repeat;background-size:cover;float:left;}
.entry-header .inner .menu_btn{
    display: none;
}
.entry-header .inner nav{padding-right:50px;}
.entry-header .inner nav span{padding:0 10px;cursor:pointer;}
.entry-header .inner nav span a{}
.entry-header .inner {
    text-align: right;
    margin: 0 auto 0 auto;
    width: 100%;
    height: 100%;
}
.entry-header .inner .menu_btn.hide_dom{
    display: none;
}
.entry-header .inner .menu_btn.show_dom{
    display: none;
}
.entry-header .inner .menu_btn{
    display: none;
    float: right;
    height: 64px;
    padding-right: 1em;
}
.entry-header .inner .menu_btn svg{
    width: 2em;
    height: 2em;
    margin-top: 50%;
    fill: #fff;
    cursor: pointer;
}
.entry-header{ background-color: rgba(255, 255, 255, 0); position:fixed; top:0; width:100%; z-index:100; color:#fff; font-size:18px; min-width: 320px; height: 64px; line-height: 64px;}
.menu-list{
    display: none;
}



/* Fade in animation - Slide 1 */
.onepage-wrapper{min-height: 450px;}
#fadeInAnim {
	background: url(../img/bg_01.jpg) no-repeat;
    background-size: cover;
}
	#fadeInAnim .one_page_text {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -200px;
		width: 100%;
        heigth: 230px;
        
        text-align:center;
	}
    .one_page_text h2{font-size:2.8em;}
    .one_page_text .button_container{width:12em;margin:2em auto 0 auto;font-size:1.5em;}
    .big_button{margin-top:.8em;display:block;overflow:hidden;width:100%;height:2.6em;cursor:pointer;}
    .big_button .button_icon{width:1.2em;height:1.2em;float:left;margin:.7em 0 .7em 2em;}
    .video_btn .button_icon{background:url(../img/btn_home_play_video_normal.png) no-repeat;background-size:100%;}
    .video_btn:hover .button_icon{
        background:url(../img/btn_home_play_video_pressed.png) no-repeat;
    }
    .download_btn .button_icon{background:url(../img/ic_one_download.png) no-repeat;background-size:100%;}
    .download_btn{
        /* chrome 10+, safari 5.1+ */
        background-image: -webkit-linear-gradient(#72de1c, #52b800);
        /* firefox; multiple color stops */
        background-image: -moz-linear-gradient(top, #72de1c, #52b800);
        /* ie 6+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#72de1c', endColorstr='#52b800');
        /* ie8 + */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#72de1c', endColorstr='#52b800')";
        /* ie10 */
        background-image: -ms-linear-gradient(#72de1c, #52b800);
        /* opera 11.1 */
        background-image: -o-linear-gradient(#72de1c, #52b800);
        /* 标准写法 */
        background-image: linear-gradient(#decf1c, #b89900);
        border-radius: 5px;
    }
    .download_btn:hover{
        background-image: -webkit-linear-gradient(#52b800, #72de1c);
        background-image: -moz-linear-gradient(top, #52b800, #72de1c);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52b800', endColorstr='#72de1c');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#52b800', endColorstr='#72de1c')";
        background-image: -ms-linear-gradient(#52b800, #72de1c);
        background-image: -o-linear-gradient(#52b800, #72de1c);
        background-image: linear-gradient(#52b800, #72de1c);
    }
    .big_button span{line-height:2.6em;}
    .download_btn span{}

    .viewing-page-1 .phone_movedown{
        position:absolute;
        left:50%;
        top:0;
        margin-left: -137px;
    }
    
	.fadeIn {
		
	}

/* Reveal animation - Slide 2 */
#revealAnim{
    background: url(../img/bg_two.jpg) no-repeat;
    background-size: cover;
}
    .movedown_container{
        position: absolute;
        width:100%;
        left: 0;
        bottom: 10px;
        height: 38px;
        z-index:10;
        display:block;
    }
    .phone_movedown{
        position:absolute;
        left:50%;
        top:0;
        margin-left: -137px;
        opacity: 1;
    }
    
    @-webkit-keyframes movedown{
        0%{-webkit-transform: translate(0px, 0px);-moz-transform: translate(0px, 0px);transform: translate(0px, 0px);}
        50%{-webkit-transform: translate(0px, 6px);-moz-transform: translate(0px, 6px);transform: translate(0px, 6px);}
        100%{-webkit-transform: translate(0px, 0px);-moz-transform: translate(0px, 0px);transform: translate(0px, 0px)}
    }
    .one_next{width:26px;height:16px;position:absolute;left:50%;bottom:20px;margin-left:-13px;background:url(../img/ic_one_next.png) no-repeat;}
    .one_next{
        -webkit-animation-name: movedown;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        
        -moz-animation-name: movedown;
        -moz-animation-duration: 1s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: ease-in-out;
        
        animation-name: movedown;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
	#revealAnim .images-container {
		margin-top: -270px;
        width: 56%;
        height: 540px;
	}
	#revealAnim .images-container .side {
		position: absolute;
		z-index: 1;
        opacity: 0;
        left: 50%;
		margin-left: -137px;
	}
    #revealAnim .images-container .front_con{
        position: absolute;
        width: 25.5%;
		z-index: 1;
        opacity: 0;
        left: 50%;
    }
    #revealAnim .images-container .front{
		margin-left: -66%;
    }
	
    .slide_container{
        width: 15%;
        height: 100%;
        position: absolute;
        left: 50%;
        margin-left: -7.5%;
        z-index: 1;
    }
    .slide_container .img_container, .slide_container .img_container .imgs{
		width: 100%;
        position: relative;
        left: 0;
        bottom: -30%;
        margin-top: -100%;
	}
    .slide_container .img_container img{
        width: 100%;
        opacity:0;
    }
    .slide_container .img_container .pos{
        position:absolute;
        left: 0;
        top: 0;
    }
    .slide_container .sec1{z-index:5;opacity:1;}
    .slide_container .sec2{z-index:4}
    .slide_container .sec3{z-index:3}
	.slide_container .sec4{z-index:2}
	
	.viewing-page-1 #revealAnim .images-container .front_con {
        opacity: 0;
        
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        
        -webkit-transition: -webkit-transform 1s, opacity 1s;
        -moz-transition: -moz-transform 1s, opacity 1s;
        transition: transform 1s, opacity 1s;
	}
	.viewing-page-1 .slide_container .img_container{
        top: 100%;
        margin-top: -130%;
        -webkit-transition: top 1s .4s, margin-top 1s .4s, margin-left 1s .4s;
        -moz-transition: top 1s .4s, margin-top 1s .4s, margin-left 1s .4s;
    	transition: top 1s .4s, margin-top 1s .4s, margin-left 1s .4s;
    }
	.viewing-page-1 .slide_container img{
        opacity: 0;   
        -webkit-transition: opacity 1s .2s;
        -moz-transition: opacity 1s .2s;
    	transition: opacity 1s .2s;
    }
    .viewing-page-1 .slide_container .sec1{
        opacity: 1;   
        -webkit-transition: opacity 1s .5s;
        -moz-transition: opacity 1s .5s;
    	transition: opacity 1s .5s;
    }
	.viewing-page-2 .slide_container .img_container{
		top: 150%;
        margin-top: 0;
        margin-left: -130%;
        -webkit-transition: opacity 1s, margin-left 1s 1s, top 1s, margin-top 1s;
        -moz-transition: opacity 1s, margin-left 1s 1s, top 1s, margin-top 1s;
    	transition: opacity 1s, margin-left 1s 1s, top 1s, margin-top 1s;
	}
	.viewing-page-2 .slide_container img{
		opacity:0;
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
    	transition: opacity 1s;
	}
	.viewing-page-2 .slide_container .sec2{
    	opacity:1;
        -webkit-transition: opacity .8s, margin-left 1s 1s, left 1s 1s;
        -moz-transition: opacity .8s, margin-left 1s 1s, left 1s 1s;
    	transition: opacity .8s, margin-left 1s 1s, left 1s 1s;
    }
    
    #revealAnim .images-container{
        width: 59%;
        margin-left: -29.5%;
        margin-top: -15%;
    }
    
	#revealAnim .images-container .front {
        width: 100%;
        position: relative;
	}
    .viewing-page-2 #revealAnim .images-container .side {
        opacity: 1;
        width: 43.6%;
        margin-top: 12%;
        margin-left: -59%;
        
        -webkit-transform: translate3d(69%, 0, 0);
        -moz-transform: translate3d(69%, 0, 0);
        transform: translate3d(69%, 0, 0);
        
        -webkit-transition: -webkit-transform 1s .9s, opacity 2s ease-in-out 1s;
        -moz-transition: -moz-transform 1s .9s, opacity 2s ease-in-out 1s;
        transition: transform 1s .9s, opacity 2s ease-in-out 1s;
    }
	.viewing-page-2 #revealAnim .images-container .front_con{
        opacity: 1;
        
        -webkit-transform: translate3d(140%, 0, 0);
        -moz-transform: translate3d(140%, 0, 0);
        transform: translate3d(140%, 0, 0);
        
		-webkit-transition: -webkit-transform 1.5s .8s, opacity 1s 1s;
        -moz-transition: -moz-transform 1.5s .8s, opacity 1s 1s;
        transition: transform 1.5s .8s, opacity 1s 1s;
	}
    .viewing-page-3 #revealAnim .images-container .front_con {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
	}
	.viewing-page-3 #revealAnim .images-container .front_con {
        -webkit-transition: -webkit-transform 1s, opacity 1s;
        -moz-transition: -moz-transform 1s, opacity 1s;
        transition: transform 1s, opacity 1s;
	}
    .viewing-page-3 .slide_container .back{
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

/* Between Slides Animation - Slide 3-4 */
#NFC {
	background: url(../img/bg_three.jpg) no-repeat;
    background-size: cover;
	overflow: hidden;
}
	#NFC .images-container{
        width:50%;
        height:100%;
        top:0;
        left:50%;
    }
    #NFC .images-container div{
        width:100%;
        max-height:122px;
        height:16%;
        position:absolute;
        left:0;
    }
    #NFC .images-container div img{
        position: absolute;
        width: 6em;
        top: 0;
        left: 110%;
/*        height: 100%;*/
    }
    #NFC .images-container div span{
        display:block;
        opacity: 0;
        font-size: 3em;
        height: auto;
        line-height: 2em;
        padding-left: 3em;
        
    }
    
    .viewing-page-3 #NFC .images-container div span{
        opacity: 1;
        -webkit-transition: opacity 1s ease-in-out 1s;
        -moz-transition: opacity 1s ease-in-out 1s;
        transition: opacity 1s ease-in-out 1s;
        white-space: nowrap;
    }
    .viewing-page-2 #NFC .images-container div span, .viewing-page-4 #NFC .images-container div span{
        opacity: 0;
        -webkit-transition: opacity .8s;
        -moz-transition: opacity .8s;
        transition: opacity .8s;
    }
    .viewing-page-3 .slide_container .img_container{
        top: 250%;
        left: 0;
		margin-top: -95%;
        margin-left: -130%;
        -webkit-transition: opacity 1s, top 1s, margin-top 1s, margin-left 1s;
        -moz-transition: opacity 1s, top 1s, margin-top 1s, margin-left 1s;
    	transition: opacity 1s, top 1s, margin-top 1s, margin-left 1s;
    }
    .viewing-page-3.move_up .slide_container .img_container{
        top: 250%;
        left: 0;
		margin-top: -95%;
        margin-left: -130%;
        -webkit-transition: opacity 1s .5s, top 1s .3s, margin-top 1s .3s, margin-left 1s;
        -moz-transition: opacity 1s .5s, top 1s .3s, margin-top 1s .3s, margin-left 1s;
    	transition: opacity 1s .5s, top 1s .3s, margin-top 1s .3s, margin-left 1s;
    }
    .viewing-page-3.move_up .slide_container .sec3 {
        opacity: 1;
        -webkit-transition:opacity 1s;
        -moz-transition:opacity 1s;
    	transition:opacity 1s;
    }
    .viewing-page-3.move_up .slide_container .sec5{
        opacity: 0;
        margin-left: 0;
        -webkit-transition: margin-left .8s, opacity .5s;
        -moz-transition: margin-left .8s, opacity .5s;
        transition: margin-left .8s, opacity .5s;
    }
    .viewing-page-3 .slide_container .sec3 {
        opacity: 1;
        -webkit-transition:opacity 1s;
        -moz-transition:opacity 1s;
    	transition:opacity 1s;
    }
    .viewing-page-3 #NFC .images-container .bluetooth{
        left:0;
        top:20%;
    }
    .viewing-page-3 #NFC .images-container .bluetooth img{
        left:0;
        top:0;
        -webkit-transition:left 1s;
        -moz-transition:left 1s;
    	transition:left 1s;
    }
    .viewing-page-3 #NFC .images-container .air{
        left:0;
        top:43%;
    }
    .viewing-page-3 #NFC .images-container .air img{
        left:0;
        top:0;
        -webkit-transition:left 1s .2s;
        -moz-transition:left 1s .2s;
    	transition:left 1s .2s;
    }
    .viewing-page-3 #NFC .images-container .nfc{
        left:0;
        top:66%;
    }
	.viewing-page-3 #NFC .images-container .nfc img{
        left:0;
        top:0;
        -webkit-transition:left 1s .4s;
        -moz-transition:left 1s .4s;
    	transition:left 1s .4s;
    }
    .viewing-page-2 #NFC .images-container .bluetooth, .viewing-page-4 #NFC .images-container .bluetooth{
        left:0;
        top:20%;
    }
    .viewing-page-2 #NFC .images-container .bluetooth img, .viewing-page-4 #NFC .images-container .bluetooth img{
        left:110%;
        top:0;
        -webkit-transition:left 1s;
        -moz-transition:left 1s;
    	transition:left 1s;
    }
    .viewing-page-2 #NFC .images-container .air, .viewing-page-4 #NFC .images-container .air{
        left:0;
        top:43%;
    }
    .viewing-page-2 #NFC .images-container .air img, .viewing-page-4 #NFC .images-container .air img{
        left:110%;
        top:0;
        -webkit-transition:left 1s .1s;
        -moz-transition:left 1s .1s;
    	transition:left 1s .1s;
    }
    .viewing-page-2 #NFC .images-container .nfc, .viewing-page-4 #NFC .images-container .nfc{
        left:0;
        top:66%;
    }
	.viewing-page-2 #NFC .images-container .nfc img, .viewing-page-4 #NFC .images-container .nfc img{
        left:110%;
        top:0;
        -webkit-transition:left 1s .2s;
        -moz-transition:left 1s .2s;
    	transition:left 1s .2s;
    }
#xender-support{
    background: url(../img/bg_four.jpg) no-repeat;
    background-size: cover;
/*	overflow: hidden;*/
}
    #xender-support .images-container {
        width: 45%;
        margin-top: -14.5%;
        margin-left: -22.5%;
    }
    #xender-support .images-container img{
        opacity: 0;
    }
    .support_desc{
        opacity: 0;   
    }
    .viewing-page-4 .support_desc, .viewing-page-2 .support_desc{
        width: 98%;
        padding: 0 1%;
        text-align: center;
        font-size: 3em;
        position: absolute;
        left: 0;
        bottom: .5em;
        opacity: 1;
        -webkit-transition: opacity 1s 1s;
        -moz-transition: opacity 1s 1s;
        transition: opacity 1s 1s;
    }
    .viewing-page-4 #xender-support .images-container img{
        opacity: 1;
        width: 36%;
        margin-left: 30%;
        -webkit-transition: opacity 1s 1s;
        -moz-transition: opacity 1s 1s;
    	transition: opacity 1s 1s;
    }
    .viewing-page-4 .slide_container .img_container{
        top:350%;
        left: 0;
        margin-top: 0;
        margin-left: -130%;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
    	transition: all 1s;
    }
    .viewing-page-4 .slide_container img{
        opacity: 0;
        left: 0;
        top: 0;
        margin-left: 0;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
    	transition: all 1s;
    }
    .viewing-page-4 .slide_container .sec4{
        opacity: 1;
        -webkit-transition:opacity 1s;
        -moz-transition:opacity 1s;
    	transition:opacity 1s;
    }
    .viewing-page-4 .slide_container .sec7{
        margin-left: 250%;
        -webkit-transition:margin-left 1s .5s;
        -moz-transition:margin-left 1s .5s;
    	transition:margin-left 1s .5s;
    }
    .viewing-page-4 .slide_container .sec5{
        opacity: 1;
        margin-left: 250%;
        -webkit-transition:opacity 1s .4s, margin-left 1s .8s;
        -moz-transition:opacity 1s .4s, margin-left 1s .8s;
    	transition:opacity 1s .4s, margin-left 1s .8s;
    }
    .viewing-page-4.move_down .slide_container .sec5{
        opacity: 1;
        margin-left: 250%;
        -webkit-transition:opacity 1s, margin-left 1s .8s;
        -moz-transition:opacity 1s, margin-left 1s .8s;
    	transition:opacity 1s, margin-left 1s .8s;
    }
    .viewing-page-4.move_up .slide_container .sec5{
        opacity: 1;
        margin-left: 250%;
        -webkit-transition:opacity 1s, margin-left 1s;
        -moz-transition:opacity 1s, margin-left 1s;
    	transition:opacity 1s, margin-left 1s;
    }
#xender-share{
    background: url(../img/bg_five.jpg) no-repeat;
    background-size: cover;
}
    .xender_cont{
        /*width:50%;*/
        height:400px;
        position: absolute;
        left:50%;
        top: 110%;
        margin: -225px 0 0 100px;
        opacity: 0;
    }
    .xender_cont .xender_icon{
        width: 8em;
        height: 8em;
        background: url(../img/img_five_logo.png) no-repeat;
        background-size: cover;
    }
    .xender_cont .xender_desc{
        
    }
    .xender_cont .xender_desc h2{
        font-size: 56px;
        height: 86px;
        line-height: 126px;
    }
    .xender_cont .xender_desc ul{
        list-style:none;
        padding: 0;
        margin: 0;
    }
    .xender_cont .xender_desc li{
        font-size: 3.2em;
        height: 1.2em;
        line-height: 1.2em;
        display: inline-block;
        padding-right: 15px;
    }
    .xender_cont .xender_desc li.list_sep{
    }
    .xender_cont .xender_desc li.list_sep span{
        width: 4px;
        height: 4px;
        border-radius:2px;
        background:#fff;
        margin-top: 48px;
        display:block;
    }
    #xender-share .download_store{
        margin-top:1.8em;
        overflow:hidden;
    }
    #xender-share .download_store div, #xender-share .download_store div a{
        display: block;
        width: 186px;
        height: 56px;
        margin: 0 40px 20px 0;
        float: left;
    }
    #xender-share .download_store div.google_stotre{
        background: url(../img/btn_five_google_play.png) no-repeat;   
        background-size: 100%;
    }
    #xender-share .download_store div.app_store{
        background: url(../img/btn_five_app_store.png) no-repeat;
        background-size: 100%;
    }
    #xender-share .download_store div.windows_store{
        background: url(../img/windows-phone-store.png) no-repeat;
        background-size: 100%;
    }
    #xender-share .share_btns{
        width: 156px;
        height: 32px;
        position: absolute;
        left: 50%;
        bottom: 52px;
        margin-left: -78px;
        overflow:hidden;
    }
    .share_btns .share-square{
    	float:left;
        margin: 0 30px 0 0;
    }
    .share_btns .share-square:last-child{
        margin-right: 0;   
    }
    .share_btn{
        width: 32px;
        height: 32px;
        display: inline-block;
    }
    
    #xender-share .xender_copyright{
        text-align: center;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 32px;
        line-height: 32px;
        font-size: 12px;
    }
    
    .viewing-page-4 .xender_cont{
        opacity: 0;
        top: 110%;
        
        -webkit-transition: opacity 1s, top 1s;
        -moz-transition: opacity 1s, top 1s;
        transition: opacity 1s, top 1s;
    }
    .viewing-page-5 .xender_cont{
        top: 50%;
        opacity: 1;
        -webkit-transition: all 1.5s;
        -moz-transition: all 1.5s;
        transition: all 1.5s;
    }
    .viewing-page-5 .slide_container .img_container{
        top:450%;
        left: 0;
		
        margin-left: -130%;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
    	transition: all 1s;
    }
    .viewing-page-5 .slide_container img{
        opacity: 0;
        -webkit-transition:opacity 1s;
        -moz-transition:opacity 1s;
    	transition:opacity 1s;
    }
    .viewing-page-5 .slide_container .sec6{
        opacity: 1;
        -webkit-transition:opacity 1s;
        -moz-transition:opacity 1s;
    	transition:opacity 1s;
        z-index: 1;
    }
    .viewing-page-5 .slide_container .sec5{
        margin-top: -20%;
        margin-left: 45%;
        -webkit-transition:all 1s;
        -moz-transition:all 1s;
    	transition:all 1s;
    }
    .viewing-page-5 .slide_container .sec7{
        opacity: 1;
        margin-top: -20%;
        margin-left: 45%;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
    	transition: all 1s;
    }

    @media screen and (max-width: 1350px){
        #NFC .images-container div span{
            opacity: 0;
            font-size: 3em;
            display: block;
            height: auto;
            padding-left: 3em;
        
        }
        .viewing-page-4 .support_desc, .viewing-page-2 .support_desc{
            font-size: 2.5em;   
        }
        .xender_cont .xender_icon{
            width: 6em;
            height: 6em;
        }
        .xender_cont .xender_desc h2{
            font-size: 46px;
            height: 70px;
            line-height: 110px;
        }
        .xender_cont .xender_desc li{
            font-size: 32px;
            height: 52px;
            line-height: 52px;
        }
        .xender_cont .xender_desc li.list_sep span{
            margin-top: 42px;
        }
    }

/************** Watch Video ***************/
.blockDesk{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    cursor: wait;
    background:rgba(0, 0, 0, .6);
}
.watchVideo{
    display: none;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    top: 25%;
    z-index: 1001;
    background:#fff;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



/************* other page ********************/
.a-btn {
    background: -moz-linear-gradient(center top , #80a9da 0%, #6f97c5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #5d81ab;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
    clear: both;
    display: inline-block;
    float: left;
    height: 70px;
    margin: 10px 0;
	color:#fff;
    overflow: hidden;
    padding-left: 90px;
    padding-right: 37px;
    position: relative;
    transition: box-shadow 0.3s ease-in-out 0s;
}
.a-btn img {
    border: medium none;
    left: 10px;
    position: absolute;
    top: 15px;
    transition: all 0.3s ease-in-out 0s;
}
.a-btn .a-btn-slide-text {
    color: #bde086;
    font-size: 36px;
    left: 18px;
    opacity: 0;
    position: absolute;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    top: 18px;
    transform: scale(0);
    transition: all 0.3s ease-in-out 0s;
}
.a-btn-text {
    display: block;
    font-size: 18px;
    padding-top: 13px;
    text-shadow: 0 -1px 1px #5d81ab;
}
.a-btn-text small {
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
}
.a-btn-icon-right {
    border-left: 1px solid #5d81ab;
    box-shadow: 1px 0 1px rgba(255, 255, 255, 0.4) inset;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
}
.a-btn-icon-right span {
    background: no-repeat scroll center center #5b5b5b;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(255, 255, 255, 0.5);
    height: 38px;
    left: 50%;
    margin: -20px 0 0 -20px;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    transition: all 0.3s ease-in-out 0s;
    width: 38px;
}
.a-btn:hover {
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 5px rgba(0, 0, 0, 0.4);
}
.a-btn:hover img {
    
}

.a-btn img {
    opacity: 1;
}

.a-btn:hover .a-btn-slide-text {
    opacity: 1;
    transform: scale(1);
}


.a-btn:active .a-btn-icon-right span {
    transform: rotate(360deg);
}

.a-btn small{
	font-size:14px;
}

.twitter{
	background: -moz-linear-gradient(center top , #5aabec 0%, #3b8ac5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-linear-gradient(top , #5aabec 0%, #3b8ac5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -o-linear-gradient(top , #5aabec 0%, #3b8ac5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -ms-linear-gradient(top, #5aabec, #3b8ac5);
    background: linear-gradient(top, #5aabec, #3b8ac5); 
    border: 1px solid #5aabec;
   
}

.facebook{
	background: -moz-linear-gradient(center top , #5b7cc8 0%, #3a5aa1 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-linear-gradient(top , #5b7cc8, #3a5aa1) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -ms-linear-gradient(top, #5b7cc8, #3a5aa1);
    background: linear-gradient(top, #5b7cc8, #3a5aa1); 
    border: 1px solid #5b7cc8;
   
}

.customer{
	background: -webkit-linear-gradient(top , #79bb70, #5ab44e) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -moz-linear-gradient(center top , #79bb70 0%, #5ab44e 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -ms-linear-gradient(top, #79bb70, #5ab44e);
    background: linear-gradient(top, #79bb70, #5ab44e); 
	
    border: 1px solid #79bb70;
   
}

.business{
	background: -webkit-linear-gradient(top , #40b5db, #359fc2) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -moz-linear-gradient(top , #40b5db 0%, #359fc2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -ms-linear-gradient(top, #40b5db, #359fc2);
    background: linear-gradient(top, #40b5db, #359fc2); 
	
    border: 1px solid #40b5db;
   
}

a  img.imgLine{
	left:71px;
	top:10px;
}

a{
	color:#52b800;
}

.footer{
	width:80%;
    padding: 0 10%;
	font-size: 12px;
	position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid #ccc;
}
.footer span:first-child{
    text-align: left;
}
.footer span{
    float: left;
    display: block;
    width: 50%;
	font-size: 12px;
    height: 2.5em;
    line-height: 2.5em;
    text-align: right;
}
.footer span a{
    color: #000;
}

.divP{
	color:#78909b;
	background:#f5f5f5;
	font-size:22px;
	display:none;
}

#container span {
}

#container p {
}

#container hr {
}

.clickTab{
	padding: 0 120px;
}

.clickTab .faq-title{
    line-height: 1.5em;
    padding: 1em 0;
    overflow: hidden;
    position: relative;
}
.clickTab .faq-list-icon{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6px;
    line-height: 0;
}

.clickTab:hover{
	cursor:pointer;
}

.clickTab p{
	margin-top:1px;
}

hr{
	margin-bottom:0px;
	margin-top:0px;
}



a:link {
 text-decoration: none;
}
a:visited {
 text-decoration: none;
}
a:hover {
 text-decoration: none;
}
a:active {
 text-decoration: none;
}

/**
 * 	 snow
 */
.snow-container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10001;
}

.about-main{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 0 1em 3em 1em;
}

.contact-us-item{
    display: inline-block;
    margin-right: 1em;
}

.contact-us-item:last{
    margin-right: 0em;
}

.main{
    position: relative;
}
.bg-color{
    background: #fff;
}
.entry-header.bg-color .inner .menu_btn svg{
    fill: #333;
}


@media screen and (min-width: 320px) and (max-width: 800px){
    .viewing-page-1 .slide_container{
        width: 30%;
        margin-left: -15%;
        -webkit-transition: width 1s .4s;
        -moz-transition: width 1s .4s;
        transition: width 1s .4s;
    }

    .viewing-page-1 .slide_container .img_container{
        top: 100%;
        margin-top: -130%;
        -webkit-transition: top 1s .4s, margin-top 1s .4s, margin-left .6s;
        -moz-transition: top 1s .4s, margin-top 1s .4s, margin-left .6s;
        transition: top 1s .4s, margin-top 1s .4s, margin-left .6s;
    }

    .slide_container{
        width: 20%;
        margin-left: -10%;
    }
    .logo_container{
        padding-left: 1em;
    }
    .entry-header{
        min-width: 100%;
    }
    .entry-header .inner .menu_btn{
        display: block;
    }
    .entry-header .inner .menu_btn.show_dom{
        display: block;   
    }
    .entry-header .inner nav.back-link{
        display: none;
    }
    .menu-list{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .menu-list.hide_dom{
        display: none;
    }
    .menu-list.show_dom{
        display: block;
    }
    .menu-list nav.back-link{
        display: inline-block;
        float: right;
        color:#212121;
        padding: 1em;
        height: 100%;
        background: #fff;
    }
    .menu-list-shadow{
        box-shadow: -3px -3px 6px #ccc;
    }
    .menu-list nav.back-link span{
        display:block;
        cursor: pointer;
        padding:0 10px;
        height: 3em;
        line-height: 3em;
        cursor:pointer;
        text-align:center;
        font-weight: bold;
        font-size: 1em;
    }

    .viewing-page-2 .slide_container{
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        transition: all 1s;
    }

    .viewing-page-3 .slide_container{
        width: 20%;
        left: 48%;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        transition: all 1s;
    }
    .viewing-page-5 .slide_container{
        width: 18%;
        left: 44%;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        transition: all 1s;
    }

    .viewing-page-3 .slide_container .img_container{
        top: 250%;
        left: 0;
        margin-top: -95%;
        margin-left: -150%;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        transition: all 1s;
    }

    .viewing-page-3.move_up .slide_container .img_container{
        top: 250%;
        left: 0;
        margin-top: -95%;
        margin-left: -150%;
        -webkit-transition: opacity 1s .5s, top 1s .3s, margin-top 1s .3s, margin-left 1s;
        -moz-transition: opacity 1s .5s, top 1s .3s, margin-top 1s .3s, margin-left 1s;
        transition: opacity 1s .5s, top 1s .3s, margin-top 1s .3s, margin-left 1s;
    }

    .viewing-page-4 .slide_container{
        left: 50%;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        transition: all 1s;
    }

    .viewing-page-5 .xender_cont{
        top: 50%;
        left: 22%;
        opacity: 1;
        -webkit-transition: left 1.5s, top 1.5s, opacity 1.5s;
        -moz-transition: left 1.5s, top 1.5s, opacity 1.5s;
        transition: left 1.5s, top 1.5s, opacity 1.5s;
    }

    .viewing-page-5 .slide_container .img_container{
        top: 450%;
        left: 0;

        margin-left: -150%;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        transition: all 1s;
    }

    #revealAnim .images-container{
        width: 80%;
        margin-left: -38%;
        margin-top: -20%;
    }

    #NFC .images-container{
        width:66%;
        height:100%;
        top:0;
        left:34%;
    }

    .xender_cont .xender_desc h2{
        font-size: 3em;
        height: 2em;
        line-height: 3em;
    }

    .xender_cont .xender_desc li{
        font-size: 2em;
        height: 1.2em;
        line-height: 1.2em;
        display: inline-block;
        padding-right: 15px;
    }

    .xender_cont .xender_desc li.list_sep span{
        margin-top: .8em;
    }

    #xender-share .download_store div, #xender-share .download_store div a{
        width: 10em;
        height: 3em;
        margin: 0 2.2em 1.5em 0;
    }

    .viewing-page-4 .support_desc, .viewing-page-2 .support_desc{
        font-size: 2em;
    }   

    #NFC .images-container div img{
        position: absolute;
        width: 4em;
        top: 0;
        left: 110%;
/*        height: 100%;*/
    }
    #NFC .images-container div span{
        display:block;
        opacity: 0;
        font-size: 2em;
        line-height: 1.2em;
        padding: .5em 0 .5em 3em;
        
    }

    .clickTab{
        padding: 0 1em;
    }

    .about-main{
        width: auto;
        height: 90%;
        padding: 0 5% 3em 5%;
    }

    .footer{
        width: 90%;
        padding: 0 5%;
        font-size: 12px;
        position: absolute;
        left: 0;
        bottom: 0;
        border-top: 1px solid #ccc;
    }
}

